body
{
    margin: 0;
    padding: 0;
    background-color: rgb(253, 252, 252);
}
.text-m{
    color: rgb(168, 168, 168);
}
.text-d{
    color: rgb(104, 104, 104);
}
.bg-whiteex{
    background-color: white;
}
.theme-bgcolor
{
    background-color: #00A3C8;
}
.theme-color{
      color: #00A3C8;
}

/* topbar start */

#nav .top-bar{
    background-color: #00A3C8;
    height: 40px;
}
#nav .top-bar .icons{
    margin-top: 7px;
}
#nav .top-bar .icons i{
    padding-left: 12px;
    font-size: 14px;
}
#nav .top-bar .icons .navtopbtn{
    padding: 4px;
    font-size: 10px;
    margin-left: 5px;
}

/* topbar end */

/* midbar start */
#nav .mid-bar{
    height: 70px;
    margin: 10px 0;
    
    
}
#nav .mid-bar img{
    margin-top: 10px;
}
#nav .mid-bar .mid-h5
{
    font-size: 25px;
}
#nav .mid-bar .mid-p
{
    font-size: 13px;
}

/* midbar end */
/* lastbar start */
#nav .last-bar
{
    background-color: #00A3C8 !important;
    
}
#nav .last-bar .dropdown .dropdown-menu{
    
    margin-top:-1px !important;
}
#nav .last-bar .dropdown:hover>.dropdown-menu
{
   display: block;
}
#nav .last-bar .dropdown-toggle::after {
    display: none;
}
#nav .last-bar .dropdown-icon
{
    font-size: 12px;
}
#nav .last-bar ul li{
    /* transition: transform .2s; */
    margin-left: 5px;
    border-radius: 15px;
    margin-bottom: 0;
}
#nav .last-bar ul li:hover
{
    background-color: #006379 ;
    /* transform: scale(0.9); */
    color: rgb(230, 230, 230);
}
#nav .last-bar ul li a{
    font-size: 14px;
}
#nav .last-bar ul li:hover>a
{
    color: rgb(230, 230, 230);
}
#nav .last-bar ul li .dropdown-toggle 
{
    color: white;
}
/* lastbar end */

/* banner start */

#banner img{
    height: 700px !important; 
    background-attachment: fixed;
}
#banner .img-container
{
    position: relative;
    height: 100%;
    width: 100%;
    
}
#banner .img-container .overlay
{   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

#banner .carousel-caption
{
    top: 270px;
    text-align: start;
}
#banner .carousel-caption h2{
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    text-align: center;
    font-size: 26px;
    
}
#banner .carousel-caption h1{
    
    background-color: rgba(0, 195, 255, 0.5);
    width: 55%;
    text-align: center;
}
/* banner end */

/* welcome start */

#welcome .shedule
{
    height: 360px;
    width: 95%;
    border: 5px solid rgb(172, 174, 175);
    border-radius: 10px;
}
#welcome .shedule >.info> h6
{
  font-size: 18px;
  box-shadow: 1px 12px 9px -10px rgb(168, 168, 168);
}
#welcome .shedule .info P
{
  font-size: 15px;
  
}
#welcome .shedule .help P
{
  font-size: 12px;
  
}

/* welcome end */

/* service start */
/* service end */

/* speciality start */

#specialities
{
    background-image: url("../img/banner/p4.png");
    height: 800px;
    background-repeat: repeat;
    position: relative;
    
}


#specialities .nav-item .nav-link{
   /* padding: 50px 73.2px; */
   width: 220.8px;
   height: 100px;
}
#specialities .nav-item  > .active
{
    background-color: #00a7cc;
    color: white;
}
#specialities .nav-item  > a{
    background-color: white;
    color: #00a7cc;
}
#specialities .nav-item  > a:hover
{
    background-color: #00a7cc !important;
    color: white;
}
#specialities .font-15
{
    font-size: 15px;
}

/* speciality end */

/* news start */
#news img{
    height: 200px;
    height: 300px;
}
/* news end */

/* summary start */
#summary{
    background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(10, 10, 10, 0.63)), url("../img/summary/1_xFNqxHNTuUa8czXh_Uoceg.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
#summary .details
{
    margin-top: 14%;  
}
#summary .chart-icon i{
    font-size: 80px;
    transition: all .2s ease-in-out;
    
}
#summary .chart-icon i:hover
{
    color: rgb(12, 122, 212) !important;
    stroke: 2px white;
    transform: scale(1.4);
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    
}


/* summary end */

/* event start */
#event{
    position: relative;
}
#event .event-img img{
    
}
#event .event-img_date {
    position: absolute;
    top: 70px;
    left: 48px;
    background: #cbb58b;
    border-radius: 2px;
    padding: 8px 12px;
    color: #fff;
    font-size: 13px;
}
#event .event-title {
    position: absolute;
    bottom:16px;
    border-radius: 5px;
    margin: 0;
    padding:0 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(10, 10, 10, 0.63));
}
#event .event_date {
    width: 82px;
    background: #00a7cc;
    float: left;
    text-align: center;
    border-radius: 2px;
}
#event .event-date-wrap {
    border: 1px dashed #cbf6ff;
    margin: 8px;
    padding: 4px 0;
}
/* event end */
#blog
{
    background-color: rgb(243, 243, 243);
}





/* about page css start */

#about{
    background-image: url("../img/about/banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    overflow: hidden;
}
#about h1
{
    margin-top: 5%;
}
#who .title{
    border-left: 2px solid #00A3C8;
    padding-left: 15px;
}
#who .title h1{
    font-size: 60px;
}
#who .desc p{
    font-size: 14px;
}


/* about page css end */

/* mission page css start */
#mission{
    background-image: url("../img/about/banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#mission h1
{
    margin-top: 5%;
}
/* mission page css end */
/* admin page css start */
.title{
    border-left: 2px solid #00A3C8;
    padding-left: 15px;
}
 .title h1{
    font-size: 60px;
}
/* admin page css end */
/* message page css start */


/* message page css end */

/* accomodation page css start */
#accomodation .title{
    border-left: 2px solid #00A3C8;
    padding-left: 15px;
}
#accomodation .title h1{
    font-size: 60px;
}
#accomodation .acco-img img
{
    transition: transform .3s;
    border-radius: 30px;
    /* background-color: rgba(95, 158, 160, 0.274); */
}
#accomodation .acco-img img:hover
{
    transform: scale(1.1);
    box-shadow: 5px 19px 22px -15px black !important;
}
/* accomodation page css end */


/* facultysdm page css start */
#facultysdm .list-group .active{
    background-color: #00A3C8;
}
/* facultysdm page css end */

/* facultyanatomy page css end */
#facultyanatomy .list-group .active{
    background-color: #00A3C8;
}
#facultyanatomy .box6{background:#0a262c;position:relative}
#facultyanatomy .box6:after{background:#0a262c;position:absolute;top:0;left:-30%;bottom:0;right:70%;transform:skew(20deg) translateX(-75%)}
#facultyanatomy .box6:hover:after{transform:skew(20deg) translateX(0)}
#facultyanatomy .box6 img{width:100%;height:auto}
#facultyanatomy .box6:hover img{opacity:.5}
#facultyanatomy .box6 .box-content{padding:20px;text-align:right;position:absolute;top:0;right:0;z-index:1}
#facultyanatomy .box6 .icon,.box7 .icon{padding:0;list-style:none}
#facultyanatomy .box10 .icon li a,.box11,.box12,.box13,.box14,.box6 .icon li a,.box7,.box7 .icon li a,.box8,.box8 .icon li a{text-align:center}
#facultyanatomy .box6 .title{font-size:20px;font-weight:900;color:#fff;margin:0 0 10px;transform:scale(0)}
#facultyanatomy .box6:hover .title{transform:scale(1)}
#facultyanatomy .box6 .icon li,.box6 .post{opacity:0;transform:translateX(40px);transition:all .35s ease 0s}
#facultyanatomy .box6 .post{display:block;font-size:14px;color:#fff;margin-bottom:5px}
#facultyanatomy .box6 .icon{display:inline-block;margin:0}
#facultyanatomy .box6:hover .icon li,.box6:hover .post{opacity:1;transform:translateX(0)}
#facultyanatomy .box6:hover .icon li:first-child{transition-delay:.1s}
#facultyanatomy .box6:hover .icon li:nth-child(2){transition-delay:.2s}
#facultyanatomy .box6 .icon li a{display:block;width:35px;height:35px;line-height:35px;background:#fff;font-size:18px;color:#605f5f;margin-bottom:5px;transition:all .35s ease}
#facultyanatomy .box6 .icon li a:hover{background:#605f5f;color:#fff}
@media only screen and (max-width:990px){.box6{margin-bottom:30px}
}
/* facultyanatomy page css end */


/* Contact us page css start */

#contact
{
    /* background-image: url("../img/service/whychoseus.jpg"); */
    /* background-color: #2F3765;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black; */
    padding: 50px 0;
    background: rgb(11,19,66);
    background: linear-gradient(90deg, rgba(11,19,66,1) 0%, rgba(48,56,102,1) 51%, rgba(11,19,66,1) 100%);
    color: #DADDE6;
}
#contact h3{
    color: lightskyblue;
}
#contact .form input::placeholder
{
    color: #DADDE6;
}
#contact .form textarea::placeholder
{
    color: #DADDE6;
}
#contact .form input{
    background-color: #4F5C88;
    border: none;
    color: #DADDE6;
    
}
#contact .form textarea{
    background-color: #4F5C88;
    border: none;
    color: #DADDE6;

}
/* Contact us page css end */




footer{
    background-color: #111111 !important;
}
footer .list-group-flush >li
{
    background-color: #111111 !important;
    color:  rgb(104, 104, 104);
    padding: 3px 10px;
}
footer .list-group-flush >li a 
{
    color:  rgb(104, 104, 104);
}
footer .text-themeblue
{
 color: #00a7cc;
}
footer .footer-icons a i
{
    width: 40px;
    height: 40px;
    border: 1px solid  rgb(104, 104, 104);
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
}
footer .footer-icons a:hover > .fa-facebook
{
    background-color: white;
    color: blue;
}
footer .footer-icons a:hover > .fa-envelope{
    color: #c71610;
    background-color: white;
}
footer .footer-icons a:hover > .fa-twitter{
    color: #1DA1F2;
    background-color: white;
}
footer .footer-icons a:hover > .fa-youtube{
    color: #FF0000;
    background-color: white;
}
